@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');


:root {
    --fonte1: verdana, geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte1);
}

header {
    background-image: url('../imagens/cabeça.jpg');
    background-size: cover;
    background-position: 0px -250px;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Efeito Parallax*/
    color: rgba(255, 251, 251, 0.432);
    text-align: center;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.37);
    

}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte3);
    color: rgba(168, 129, 11, 0.548);
    font-size: 9vw;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.678);
}

header > p {
    padding-bottom: 80px;
    color: rgba(168, 129, 11, 0.548);
    text-shadow: 1px 1px 0px rgb(0, 0, 0);
    
}


header a, footer a {
    text-decoration: none;
    font-weight: bolder;
    color: rgba(168, 129, 11, 0.548);
    
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 3.5vw;
}

section > p {
    padding-bottom: 2em;
}

section.normal {
    background-color: white;
    color: black;
}
section.imagem {
    background-color: rgb(54, 52, 52);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.308);
    background-attachment: fixed; /* Efeito Parallax*/

}

section.imagem > p {
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.247);
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.616);
    
}

section#img01 {
    background-image: url('../imagens/imagem-001.jpg');
    background-position:left right;
    background-size: cover;
    background-repeat: no-repeat;
    
}

section#img02 {
    background-image: url('../imagens/imagem-002.jpg');
    background-position:center;
    background-size: cover
    ;

}

footer {
    background-image: url('../imagens/background001.jpg');
    background-position:center;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 10px;
}

